{% extends "story8/_base.html" %}
{% load static %}

{% block prefix %}More - {% endblock %}

{% block content %}
<main class="theme">
    <div class="row-head theme">
        <h1 class="headline center head-anim theme">MORE</h1>
    </div>
    <div class="row-mid">
        <div class="container content-anim">
            <div class="detail-pane">
                <div class="row category">
                    <div class="accordion" id="accordionDetail">
                        <div class="card accordion-top">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapser" type="button" data-target="#collapseOne">
                                        <h3>education</h3>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="expandable">
                                <div class="card-body">
                                    <div class="row detail-content">
                                        <h4>University of Indonesia</h4>
                                        <p class="detail">Computer Science</p>
                                        <p class="more">2017 - present</p>
                                    </div>
                                    <div class="row detail-content">
                                        <h4>Highfield High School</h4>
                                        <p class="detail">Sciences Stream</p>
                                        <p class="more">2014 - 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapser" type="button" data-target="#collapseTwo">
                                        <h3>experience</h3>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="expandable">
                                <div class="card-body">
                                    <div class="row detail-content">
                                        <h4>Teaching Assistant</h4>
                                        <p class="detail">Introduction to Digital Systems Course</p>
                                        <p class="more">September 2018 - present</p>
                                    </div>
                                    <div class="row detail-content">
                                        <h4>System Programmer</h4>
                                        <p class="detail">Autonomous Rocket Research at TRUI</p>
                                        <p class="more">March 2018 - present</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapser" type="button" data-target="#collapseThree">
                                        <h3>skill</h3>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="expandable">
                                <div class="card-body">
                                    <div class="row detail-content">
                                        <h4>Web Programming</h4>
                                        <p class="detail">Advanced</p>
                                        <p class="more">Advanced skill in web design and programming</p>
                                    </div>
                                    <div class="row detail-content">
                                        <h4>Classical Guitar</h4>
                                        <p class="detail">Advanced</p>
                                        <p class="more">Spent years in the field of classical music, specialized in
                                            classical
                                            guitar</p>
                                    </div>
                                    <div class="row detail-content">
                                        <h4>Saxophone</h4>
                                        <p class="detail">Intermediate</p>
                                        <p class="more">Saxophone playing skills on an intermediate level</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-bottom">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapser" type="button" data-target="#collapseFour">
                                        <h3>language</h3>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="expandable">
                                <div class="card-body">
                                    <div class="row detail-content">
                                        <div class="col-lg-3 col-sm-5 no-gutters">
                                            <h4>English</h4>
                                        </div>
                                        <div class="col-lg-9 col-sm-7">
                                            <div class="progress align-middle">
                                                <div class="progress-bar" role="progressbar" style="width: 95%"
                                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <p class="detail">Bilingual</p>
                                        <p class="more"></p>
                                    </div>
                                    <div class="row detail-content">
                                        <div class="col-lg-3 col-sm-5 no-gutters">
                                            <h4>Indonesian</h4>
                                        </div>
                                        <div class="col-lg-9 col-sm-7">
                                            <div class="progress align-middle">
                                                <div class="progress-bar" role="progressbar" style="width: 100%"
                                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <p class="detail">Bilingual</p>
                                        <p class="more"></p>
                                    </div>
                                    <div class="row detail-content">
                                        <div class="col-lg-3 col-sm-5 no-gutters">
                                            <h4>German</h4>
                                        </div>
                                        <div class="col-lg-9 col-sm-7">
                                            <div class="progress align-middle">
                                                <div class="progress-bar" role="progressbar" style="width: 75%"
                                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <p class="detail">Limited working proficiency</p>
                                        <p class="more"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-end empty theme"></div>
</main>

{% endblock %}