{% extends "story11/_base.html" %}
{% load static %}

{% block prefix %}{% endblock %}

{% block content %}

<main class="theme" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <section class="row-head home theme" id="me">
    <div class="container">
      <div class="row">
        <div class="headline-container">
          <h1 class="headline center head-anim theme">hey,<br>{{ user.first_name|upper }} {{ user.last_name|upper }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="card search-card shadow">
          <div class="card favourite-count-card shadow">
            <div class="card-body"><i class="material-icons favourite-star">star</i><span class="favourite-count h5">0</span></div>
          </div>
          <div class="card-body">
            <form id="book-search">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group">
                    <input style="border-radius:32px;" name="query" class="form-control" id="search-field" placeholder="Search books..."
                      type="text" required>
                  </div>
                </div>
              </div>
              <button type="submit" class="submit-btn btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row-mid" id="more">
    <div class="container content-anim">
      <div class="row category">
        <div class="card list-card shadow border-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th align="center" scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th align="center" scope="col">Favorite</th>
              </tr>
            </thead>
            <tbody class="books-list">
            </tbody>
          </table>
          <div class="loader">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38"
              height="38" viewBox="0 0 5120 5120" alt="home">
              <g stroke-opacity="0">
                <path class="main-icon part3" d="m2239.8 4900.1c-252.64-139.91-1551.5-851.23-1743.7-955.79l-178.24-97.2-4.6498-1153.1-3.0998-1154.6 49.598 29.454c27.899 16.2 371.98 204.71 764.11 418.25 392.13 215.02 799.76 438.87 906.71 497.78s230.94 126.65 275.89 151.69c46.498 23.563 86.796 51.545 89.896 60.382 3.0998 8.8363 4.6498 527.23 3.0998 1153.1l-4.6497 1135.5z" />
                <path class="main-icon part2" d="m2720.6 3838.3 4.6497-1153.1 77.496-42.709c119.34-66.272 413.83-228.27 1193.4-655.36 392.13-213.54 736.21-402.05 764.11-418.25l49.598-29.454-3.0999 1154.6-4.6496 1153.1-178.24 97.2c-97.645 53.018-401.43 219.44-674.22 369.65-272.79 150.22-638.57 350.51-813.71 446.23-175.14 94.254-340.98 185.56-368.88 201.76l-49.598 29.454z" />
                <path class="main-icon part1" d="m2456.7 2333c-48.725-25.954-175.52-95.377-281.76-154.27-106.24-58.897-455.36-250.58-775.83-425.96-740.25-405.12-921.49-507.78-921.49-521.97 0-7.7725 56.11-38.975 1022.8-568.79 487.66-267.27 924.42-507.24 970.57-533.28 46.15-26.037 86.486-47.339 89.636-47.339 3.1499 0 48.04 23.953 99.757 53.229 51.716 29.276 340.55 188.11 641.86 352.96 1087.7 595.1 1342.7 736.13 1342.7 742.61 0 12.615-170.34 109.55-775.83 441.49-271.7 148.95-647.9 355.45-835.99 458.89-360.38 198.18-458.63 249.62-476.75 249.62-6.0862 0-50.932-21.235-99.656-47.188z" />
              </g>
            </svg>
          </div>
          <div class="not-found alert alert-danger" role="alert"></div>
          <div class="query-error alert alert-danger" role="alert">An error has occured!</div>
          <div class="hint alert alert-success" role="alert">Go search some books!</div>
        </div>
      </div>
    </div>
  </section>
  <section class="row-end empty theme" id="look"></section>
</main>

{% endblock %}