{% extends "story10/_base.html" %}
{% load static %}

{% block prefix %}Register - {% endblock %}

{% block content %}
<main class="theme">
    <div class="row-head theme">
        <h1 class="headline center head-anim theme">REGISTER</h1>
    </div>
    <div class="row-mid full">
        <div class="container signup-container content-anim">
            <div class="alert-area"></div>
            <div class="card shadow signup-card">
                <div class="card-body">
                    <form id="registerForm" novalidate>
                      {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">account_circle</i>
                                    </span>
                                </div>
                                {{ form.name }}
                            </div>
                            <small id="name-error-text" class="form-text text-danger error-text"></small>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">email</i>
                                    </span>
                                </div>
                                {{ form.email }}
                            </div>
                            <small id="email-error-text" class="form-text text-danger error-text"></small>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">vpn_key</i>
                                    </span>
                                </div>
                                {{ form.password }}
                                <input type="password" class="form-control" id="ver_password_field" placeholder="Verify password" minlength=8 target-content="#password_field"
                                    required>
                            </div>
                            <small id="password-error-text" class="form-text text-danger error-text"></small>
                        </div>
                        <button type="submit" class="btn submit-btn btn-primary">register!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row-end empty theme"></div>
</main>

{% endblock %}


{% block scripts %}
<script src="{% static 'story10/script/signup.js' %}"></script>
{% endblock %}