{% extends "story6/_base.html" %}
{% load static %}

{% block prefix %}{% endblock %}

{% block content %}


<main>
    <section class="row-head" id="me">
        <h1 class="headline center head-anim">HELLO</h1>
        <h1 class="headline headline-small center head-anim">HOW ARE YOU?</h1>
        <div class="card status-card shadow border-0">
            <div class="card-body">
                <p class="lead">Share to us about how you feel today!</p>
                <form method="POST" action="{% url 'add-status' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group">
                                {{ status_form.text }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn submit-btn btn-primary">Post</button>
                </form>
            </div>
        </div>
    </section>
    <section class="row-mid">
        <div class="container content-anim">
            <div class="schedule-pane">
                {% if status %}
                    {% for item in status %}
                    <div class="row category">
                        <div class="card status-card shadow border-0">
                            <div class="card-body">
                                {{ item.text }}
                                <a href="{% url 'remove-status' item.id %}" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <h3 class="light-notify">No one have shared their status</h3>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="row-end empty"></section>
</main>

{% endblock %}