{% extends "story6/_base.html" %}
{% load static %}

{% block prefix %}{% endblock %}

{% block content %}

<main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <section class="row-head home" id="me">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-12 order-lg-2 order-sm-1">
          <div class="headline-container">
            <h1 class="headline name head-anim">DANNY AUGUST RAMAPUTRA</h1>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 order-lg-1 order-sm-2">
          <div class="card card-info shadow border-0">
            <img class="card-img-top img-responsive" src="{% static 'story6/img/profile.jpg' %}" alt="Danny's portrait">
            <div class="card-body">
              <h5 class="card-title">about</h5>
              <p class="card-text">I'm a computer science student in UI. Web programming is my top skill in the field.</p>
              <br>
              <h5 class="card-title">interest</h5>
              <p class="card-text">Great interest in web design and programming. I also enjoy playing musical instrument and games.</p>
              <br>
              <h5 class="card-title">contact</h5>
              <p class="card-text">
                <a class="info-item" href="mailto:august_danny@yahoo.co.id">
                  <span class="contact-link"><img class="icon" src="{% static 'story6/img/icn-email.png' %}">august_danny@yahoo.co.id</span>
                </a>
                <a class="info-item" href="http://linkedin.com/in/danny7899">
                  <span class="contact-link"><img class="icon" src="{% static 'story6/img/icn-linkedin.png' %}">in/danny7899</span>
                </a>
                <a  class="info-item" href="tel:+6282299798982"></a>
                  <span class="contact-link"><img class="icon" src="{% static 'story6/img/icn-phone.png' %}">+62822 9979 8982</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row-mid" id="more">
    <div class="container content-anim">
      <div class="row">
        <div class="col-lg-4 col-sm-0">
          <!-- card overflow? -->
        </div>
        <div class="col-lg-8 col-sm-12 detail-pane">
          <div class="row category">
            <div class="col-lg-4 col-sm-12">
              <h3>education</h3>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="row detail-content">
                <h4>University of Indonesia</h4>
                <p class="detail">Computer Science</p>
                <p class="more">2017 - present</p>
              </div>
            </div>
          </div>
          <div class="row category">
            <div class="col-lg-4 col-sm-12">
              <h3>experience</h3>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="row detail-content">
                <h4>Teaching Assistant</h4>
                <p class="detail">Introduction to Digital Systems Course</p>
                <p class="more">September 2018 - present</p>
              </div>
            </div>
          </div>
          <div class="row category">
            <div class="col-lg-4 col-sm-12">
              <h3>skill</h3>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="row detail-content">
                <h4>Web Programming</h4>
                <p class="detail">Advanced</p>
                <p class="more">Advanced skill in web design and programming</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row-end" id="look">
    <div class="container content-anim">
      <div class="row">
        <div class="col-xs-12 col-lg-4 gallery-row">
          <div class="card card-gallery shadow border-0" style="width: 80%;">
            <img class="card-img-top img-responsive" src="{% static 'story6/img/img_1.jpg' %}" alt="Danny's image 1">
            <div class="card-body">
              <p class="card-text">"the name's Chester"</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4 gallery-row">
          <div class="card card-gallery shadow border-0" style="width: 80%;">
            <img class="card-img-top img-responsive" src="{% static 'story6/img/img_2.jpg' %}" alt="Danny's image 2">
            <div class="card-body">
              <p class="card-text">"a reunion"</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4 gallery-row">
          <div class="card card-gallery shadow border-0" style="width: 80%;">
            <img class="card-img-top img-responsive" src="{% static 'story6/img/img_3.jpg' %}" alt="Danny's image 3">
            <div class="card-body">
              <p class="card-text">"old times"</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}